{% extends "layout.html" %}
{% block title %}Flow{% endblock %}

{% block content %}

<form action="/flow" method="post" enctype="multipart/form-data">
{{ form.csrf_token }}
<div class="box" style="margin-bottom: 20px;">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <div class="control">
          {{ form.title(style="width: 50%; margin-bottom:10px;", class="input is-rounded", required=true, autofocus=true, autocomplete="off",
            placeholder="Your Post Title") }}
        </div>
        {% for error in form.title.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}

        <div class="control">
          {{ form.content(class="input", required=true, autofocus=true, autocomplete="off",
            placeholder="Tell us ..") }}
        </div>
        {% for error in form.content.errors %}
          <p class="help has-background-warning">
              {{ error }}
          </p>
        {% endfor %}
        <br>
        <div class="level">
          <div class="level-left">
            <div class="field">
              <div class="file is-info has-name">
                <label class="file-label">
                  <div class="control">
                    {{ form.photo(class="file-input", required=false) }}
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose Photo..
                      </span>
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>

          <div class="control">
            <div class="select">
              {{ form.category(class="select", required=true)}}
              {% for error in form.category.errors %}
                <p class="help has-background-warning">
                    {{ error }}
                </p>
              {% endfor %}
            </div>
          </div>


          <div class="level-right">
            
            <div class="control has-icons-left has-icons-right">
              {{ form.url(class="input", required=false, placeholder='Video Url', autocomplete="off")}}
              <span class="icon is-small is-left">
                <i class="fas fa-link"></i>
              </span>
            </div>

            <button class="button" type="submit">Post</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
</form>



{% for post in posts %}
<div class="box">
<article class="media">
  
    {% if post["photo"] %}
      <figure class="media-left">
        <p class="image is-128x128" style="object-fit: scale-down;">
          <a href="./static/images/uploads/{{ post['photo'] }}"><img  class="is-square" width="480" height="270" src="./static/images/uploads/{{ post['photo'] }}"></a>
        </p>
      </figure>
    {% endif %}

  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{ post["title"] }} @{{ post["username"] }}</strong>
        <br>
        {{ post["text_field"] }}
        <br>
        <small><a>Like</a> · <a class="reply-link" data-reply={{post.post_id}}>Reply</a> · {{ post["category_title"] }} · Posted 1 day ago </small>
      </p>
    </div>

    {% if post["video"] %} 
    <iframe width="480" height="270" src="{{ post['video'] }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}

    <form action="#" class="post-reply-form" data-form={{post.post_id}} method="post">
      <div class="reply-form">
        <article class="media">
          <div class="media-content">
            <div class="field">
              <p class="control">
                <input name="reply" class="textarea" autocomplete="off" placeholder="What is your comment ?" rows="1"></input>
              </p>
            </div>
            <input type="hidden" name="post_id" value={{post.post_id}}>
            <div class="field">
              <p class="control">
                <button type="submit" class="button">Write comment..</button>
              </p>
            </div>
          </div>
        </article>
      </div>
    </form>

    {% if post.comments %}
      {% for comment in post.comments %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>@{{ comment["username"] }}</strong>
              <br>
              {{ comment["comment_text"] }}
              <br>
              <small>
                {% if session["is_admin"] or comment["username"] == session["username"] %}
                  <a href=" {{ url_for('delete_comment_page', comment_id=comment['comment_id']) }}" name="delete_comment">Delete Comment</a>
                {% endif %}
              </small>
            </p>
          </div>
        </div>
      </article>
      {% endfor %}
    {% endif %}
  </div>
  {% if session["is_admin"] or post["username"] == session["username"] %}
    <div class="media-right">
      <div class="user-interaction">
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="user-interaction-menu">
        <a href=" {{ url_for('post_edit_page', post_id=post.post_id) }}" name="edit">Edit</a>
        <a href=" {{ url_for('post_delete_page', post_id=post.post_id) }} " name="delete">Delete</a>
      </div>
      </div>
    </div>
  {% endif %}
</article>

    
</div>
{% endfor %}

  <script>
    $('.user-interaction').click(function(e){
      e.stopPropagation();
      $(this).find('.user-interaction-menu').slideToggle();
    })
  
    $(document).click(function(){
      $('.user-interaction-menu').slideUp();
    })

    $('.reply-link').click(function(e){
      e.preventDefault();
      var id = $(this).data('reply');
      $(`.post-reply-form[data-form=${id}]`).slideToggle();
    })

   
  </script>
{% endblock %}
